/* You can add global styles to this file, and also import other style files */

html, body {
     background: linear-gradient(0.35turn, #AF7AC5, #85C1E9, #AF7AC5);
     background-image: url('assets/fond.JPG');
     background-size: cover;
     width: 100% !important;
    }
body { margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; }

app-footer{
    min-height: calc(100% - 5px);
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
    text-align: center;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.4375em 0;
    text-align: center;
    background-color: white;
    font-weight: bold;
    text-align: center;
}